body {
    font-family: sans-serif;
}

.top-level {
    background-color: black;
    color: white;
    padding-top: 3em;
    padding-bottom: 1em;
}

.top-level h1 {
    text-align: center;
}

.top-bar > ul {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0.5px solid white;
    display: block;
    list-style-type: none;
}

.top-bar > ul li {
    float: left;
    padding: 1em;
}

.top-bar > ul a:hover {
    color: black;
    background-color: white;
}

.top-bar a {
    text-decoration: none;
    color: white;
}

.content {
    margin-left: 4em;
}
