.top-level {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.top-level h1 {
    text-align: center;
}

.top-bar > ul {
    list-style-type: none;
}

.top-bar > ul li {
    float: left
}